// colors
$primary-color: #8F1D1D;
$primary-light-color: #B92626;
$primary-dark-color: #634949;
$glass-color: #939393;
$glass-light-color: #BEBEBE;

// font sizes
$font-size-x-small: 1rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.6rem;
$font-size-large: 2.4rem;

// border radius
$border-radius-medium: 16px;

// breakpoints
$breakpoint-medium: 1300px;
$breakpoint-small: 740px;
